* {box-sizing: border-box;
margin:0px;
padding: 0px;}

body {display: flex;
flex-direction: column;}

.header {display: flex;justify-content: space-around;height: 100px;align-items: center;background-color:#1F2937;color: white;}
.headerlogo {font-size: 24px;font-weight: bolder;color: #F9FAF8;}
li {font-size:18px;color:#E5E7EB;}



.right-links {display: flex;gap:20px;}

.hero {display:flex;justify-content: space-evenly;background-color: #1F2937;color:white;height: 250px;align-items: center;margin-bottom: 30px;}

.info-container {display: flex;justify-content: center;height:200px;margin-bottom: 20px;gap:52px;}

.quotes {display: flex;background-color: #E5E7EB;height:200px;flex-direction: column;justify-content: center;align-items: center;gap:5px;margin-top: 40px;margin-bottom: 40px;}
.quote {flex-shrink:3;text-align:center;font-size: 36px;color: #1F2937;font-style: italic;}
.person {font-size: 25px;color:#1F2937;align-self:flex-end;font-weight: bolder;margin-right:400px;}

.ext {display: flex;justify-content: center;align-items: center;flex:1;margin-bottom: 32px;}

.footer {display: flex;justify-content: center;align-items: center;background-color: #1F2937;color: #F9FAF8;font-size: 18px;height: 60px;}

ul {margin: 0px;padding: 0px;list-style-type: none;}

.text {display:flex;flex-direction: column;width:400px;align-self:center;height: 250px;gap:10px}

.maintext {font-size: 48px;font-weight: 1000;color:#F9FAF8}

.subtext {font-size: 18px;font-weight:400;color: #E5E7EB;}

.signup {width:150px;height:35px;padding:10px;background-color: #3882F6;text-align: center;font-size: 18px;font-weight: bolder;border-radius: 10px;}

.image-box {display: flex; height:200px;width:400px;background-color: grey;justify-content:center;align-items: center;}

.infotext {text-align: center;font-size: 36px;font-weight: bolder;color: #1F2937;margin-bottom: 20px;}

.info {max-width: 200px;}

.illutext {font-size: 18px;font-weight: 400;color:#1F2937;}

.illu {display:flex;height: 150px;width: 150px;border: 2px solid #3882F6;margin: 0 auto 5px auto;border-radius: 10px;}

.extbox {display:flex;height:100px;width:500px;background-color: #3882F6;justify-content: space-around;align-items: center;}

.exttext {display: flex;flex-direction: column;gap:5px;width: 300px;}
.mainpart {font-size: 22px;font-weight: bolder;color: #F9FAF8;}
.subpart {font-size: 14px;color: #F9FAF8;}
.extsignup {display:flex;width: 150px;height: 35px;border:2px solid #F9FAF8;color: #F9FAF8;justify-content: center;border-radius: 10px;align-items: center;
font-size: 18px;font-weight: bolder;}



